[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
[submodule "themes/elephants"]
	path = themes/elephants
	url = https://gitlab.com/meibenny/elephants.git
[submodule "themes/my-elephants"]
	path = themes/my-elephants
	url = https://github.com/aunnnn/elephants-fork.git
